/*body{
    background-image: url("image/holden.jpg");
    background-size:contain;
    background-repeat: no-repeat;
}*/
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1{
    width: 480px;
    height: 44px;
    margin-left: 21px;
    margin-top: 26px;
    font-size: px;
    font-family: "Risque";
    background: linear-gradient(to bottom, #FF6109 40.63%, #1143F2 0%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    fill:black;

}
.navbar,nav,ul,li{
    width: 100%;
    height: auto;
    margin-left: opx;
    /* margin-top:; */
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    border: 1px blue;
    background-color: #B7D4F8;

}

.navbar,nav,ul,li,a:hover{
    color: goldenrod;
}
h2{
    width: 337px;
    height: 23px;
    margin-left: 440px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 25px;
    background: linear-gradient(to bottom, #FF6109 60.63%, #1143F2 0%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    fill:black;
}
.text{
    width: 660px;
    height: 170px;
    margin-left: 275px;
    margin-top: -21px;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;

}
.staff{
    width: 59px;
    height: 23px;
    margin-left: 534px;
    margin-top: 8px;
    font-weight: bold;
    font-size: 20px;

}
.joel{
    text-align: center;
    position: absolute;
    background-image: url('./joeimage/IMG20200116150015.jpg');
    left: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 60px;
    border-radius: 50px;

}
.joel>p{
    margin-top: 20px;
}
.barl{
    text-align: center;
    background-image: url('./joeimage/WhatsApp\ Image\ 2020-07-02\ at\ 10.54.03\ PM.jpeg');
    position: absolute;
    left: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50px;

}

.abzed{
    position: absolute;
    left: 850px;
    background-image: url("./joeimage/IMG-20200702-WA0025.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50px;


}
.location{
    text-align: center;
    position: absolute;
    top: 88%;
    left: 420px;
    display: block;

}

.direction{
    position: absolute;
    top: 104%;
    left: 430px;
}

.moreinfo{
    position: absolute;
    top: 115%;
    left: 510px;
}

h3{
    
    margin-top: -13px;
}



