*{
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


.courasel{
    margin: auto;
    top: 0px;

}

.courasel-slide{
   top: 50%;
}

img{
    top: 30%;
    
}

.container{
    margin: 0;
    top: 0;
}

#banner{
    position: fixed;
    margin: 0px;
    height: 100%;
    width: 100%;
    background-image: url('./joeimage/samuele-errico-piccarini-FMbWFDiVRPs-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
}

nav{
    position: absolute;
    right: 300px;
    top: 100px;
}

nav ul li a{
    text-decoration: none;
    color: aliceblue;
    border-bottom: 1px darkcyan;
}

nav ul li{
    display: inline-block;
    font-size: 20px;
    padding: 15px;
}

nav ul li a:hover{
    border-color: blanchedalmond;
}

.about{
    position: absolute;
    top: 60%;
}

.divone{
    position: relative;
    text-align: center;
    float: right;
    right:  400px;
    width: 40%;
    padding:5px;
    background: grey;
    height: 200px;
}

.divone img{
    border-radius: 5px;
}

.azin{
    position: absolute;
    top: 100%;
    left: 600px;
}
.divtwo{
    text-align: center;
    float: left;
    right:  400px;
    width: 40%;
    padding:5px;
    background: grey;
    height: 200px;
}

/* .imageone{
    height: 300px;
    width: 500px;
    position: absolute;
    top: 320px;
    overflow: hidden;
    border-radius: 80px;
} */

/* .imageone p {
    position: absolute;
    left:200px;
    top: 60px;
    color: blanchedalmond;
}

#model1{
    position: inherit;
    justify-content: space-between;
    padding: 2px;
    top: 21px;
    border-radius:20px;
}

#uno{
    font-size: 50px;
    position: relative;
    left: 220px;
    padding: 0;
    color: coral;
}

section{
    position: absolute;
    left:800px;
    top: 360px;
    justify-content: space-between;
}

.imagetwo{
    display: flex;
    justify-content: space-around;
    left: 0px;
    overflow-y: hidden;
    
}

#dos{
    position: absolute;
    right: 320px;
    font-size: 50px;
    z-index: 2;
    padding-bottom: 50px;
}

.imagetwo img{
    position: relative;
    border-radius: 50px;
}

.imagetwo p{
    position: absolute;
    right: 80px;
    top: 40px;
} */

footer{
    position: absolute;
    top:120%;
}

footer div p{
    padding: 10px;
}

h1{
    background: linear-gradient(to bottom, #FF6109 40.63%, #1143F2 0%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    fill:black;
}