*{
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


.courasel{
    margin: auto;
    top: 0px;

}

.courasel-slide{
   top: 50%;
}

img{
    top: 30%;
    
}

.container{
    margin: 0;
    top: 0;
}

#banner{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('./images/batmobile-tumbler-huracan-render-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: -1;
}

nav{
    position: absolute;
    right: 0px;
}

nav ul li a{
    text-decoration: none;
    color: aliceblue;
    border-bottom: 1px solid grey;
}

nav ul li{
    display: inline-block;
    font-size: 20px;
    padding: 5px;
}

nav ul li a:hover{
    border-color: blanchedalmond;
}

.imageone{
    height: 200px;
    width: 500px;
    position: absolute;
    top: 450px;
    background-color: grey;
    overflow: hidden;
}

.imageone p {
    position: absolute;
    left:200px;
    top: 100px;
}

#model1{
    position: inherit;
    justify-content: space-between;
    padding: 2px;
    border-radius: 200px;
}

h3{
    font-size: 50px;
    position: relative;
    left: 220px;
    padding: 0;
}

section{
    position: absolute;
    left:600px;
    top: 300px;
    justify-content: space-between;
}